@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

:root {
    /* header */
    --font-style: 'Preahvihear', sans-serif;
    --img-height: 1.8rem;
    --img-add-height: 2.2rem;
    --font-size: 2.2rem;
    --header-height: 10vh;
    /* popup */
    --popup-width: 20vw;
    --popup-height: 50vh;
    --popup-top: 25vh;
    --popup-left: 40vw;
    --popup-border-radius: 20px;
    --popup-background-color: #f5f5f4;
    --popup-border: 1px solid black;
}

/* header */
header {
    user-select: none;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    height: var(--header-height);
}

header > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header > div > img {
    height: var(--img-height);
    width: auto;
}

header > div > span {
    font-family: var(--font-style);
    font-size: var(--font-size);
}

header > img {
    height: var(--img-add-height);
    justify-self: center;
}

header > img:hover {
    cursor: pointer;
    animation: rotate 0.6s forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

/* popup */
#popup {
    display: none;
    position: fixed;
    top: var(--popup-top);
    left: var(--popup-left);
    z-index: 100;
    width: var(--popup-width);
    height: var(--popup-height);
    background-color: var(--popup-background-color);
    border: var(--popup-border);
    border-radius: var(--popup-border-radius);
}

/*media queries*/
@media screen and (max-width: 1500px) {
    #popup {
        width: 25vw;
        left: 37.5vw;
    }
}

@media screen and (max-width: 1200px) {
    #popup {
        width: 30vw;
        left: 35vw;
    }
}
@media screen and (max-width: 1000px) {
    html {
        font-size: 80%;
    }
    #popup {
        width: 35vw;
        left: 32.5vw;
    }
}

@media screen and (max-width: 750px) {
    html {
        font-size: 75%;
    }
    #popup {
        width: 60vw;
        left: 20vw;
    }
}